 <div class="container-fluid">
    <h2>Schedule</h2>
    <p>
        TBA
    </p>
    <div class="strike">
       <span>&#x263d &#x263f &#x2640 &#x2609 &#x2642 &#x2643 &#x2644</span>
    </div>
<div class="col-xl-3"></div>
    
        <h2>Officer List</h2>
        <div id="officers">  
            <ul style="list-style: none;">
                <li><b>Master Alchemist</b>:   Rylie White</li>
                <li><b>Vice Master Alchemist</b>:  Andrew Muenks</li>
                <li><b>Master of Ceremonies</b>:    Nathan Mahloch</li>
                <li><b>Reporter</b>:  Shravan Dommaraju</li>
                <li><b>Recorder</b>:  Kevin Rudberg</li>
                <li><b>Treasurer</b>:   Ethan Zars</li>
                <li><b>Social Chair</b>:  Kaitlyn Chetney</li>
                <li><b>Service Chair</b>:  Cortney Hutson</li>
                <li><b>Fundraising Chair</b>:  Kimi Wilhite</li>
                <li><b>Alumni Secretary</b>:   Samantha See</li>
                <li><b>Webmaster</b>:  Aaron Smith</li>
                <li><b>Chapter Advisor</b>:  Dr. Mark Lee</li>
            </ul>
        </div>
    
    <div class="strike">
       <span>&#x263d &#x263f &#x2640 &#x2609 &#x2642 &#x2643 &#x2644</span>
    </div>
</div>