
<div class=container-fluid>
    <h2>History</h2>
    <p>
    Alpha Chi Sigma is the only professional chemistry fraternity and was founded in 1902 at the University of Wisconsin-Madison. The Delta Chapter at Mizzou was founded in 1907 and is now the 2nd oldest continually active chapter of the fraternity. Alpha Chi Sigma has more than 70,000 members across the nation. We focus on uniting both men and women, whether college students or professionals, through fraternal ties and the common interest of chemistry. We strive to form strong friendships, promote chemistry, and to aid our brothers in their ambitions. Although we are primarily chemistry focused, our fraternity has members from many other majors including biology, BIOCHEMISTRY, chemical engineering, computer science, pre-med, and more. We encourage anyone with a passion for chemistry to join.
    </p>
    <div class="strike">
       <span>&#x263d &#x263f &#x2640 &#x2609 &#x2642 &#x2643 &#x2644</span>
    </div>
    <h2>Founding Principles: The Objects of the Fraternity</h2>
    <h3>To Bind</h3>
    <p>its members with a tie of true and lasting friendship</p>
    <h3>To Strive</h3>
    <p>for the advancement of chemistry both as a science and as a profession</p>
    <h3>To Aid</h3>
    <p>its members by every honorable means in the attainment of their ambitions as chemists throughout their mortal lives</p>
    <div class="strike">
       <span>&#x263d &#x263f &#x2640 &#x2609 &#x2642 &#x2643 &#x2644</span>
    </div>
</div>