 <div class="container-fluid">
        <h2>Pledging</h2>
        <p>
        We encourage any Mizzou student with a passion for chemistry to consider joining Alpha Chi Sigma! Our pledge process occurs every semester, so we have many opportunities to get involved. If you're interested, you should contact our Vice Master Alchemist at <b>agmx6d@mail.missouri.edu</b> and attend our information session early in the semester.
        </p>
        <p>
        As a professional fraternity, we understand that academics come first and we encourage our members to study hard. We're willing to work with you if you're having a busy semester, so don't let that discourage you from joining!
        </p>
        <div class="strike">
           <span>&#x263d &#x263f &#x2640 &#x2609 &#x2642 &#x2643 &#x2644</span>
        </div>
        <h2>Membership Requirements</h2>
        <ol>
            <li>Must  be in the second course of a chemically related degree program (Chemistry, Biology, Biochemistry, Chemical Engineering, Pre-med, etc.)</li>
            <li>Attend weekly pledge meetings leading up to initiation</li>
            <li>Take a test of fraternal knowledge and pass with at least 70%</li>
            <li>Attainment of a minimum cumulative GPA of 2.50</li>
            <li>Pay one lifetime membership processing fee of $185</li>
        </ol>
        <div class="strike">
           <span>&#x263d &#x263f &#x2640 &#x2609 &#x2642 &#x2643 &#x2644</span>
        </div>
        <h2>The Obligations of a Member of the Fraternity</h2>
        <ol>
            <li>That a member will remember the Objects of the Fraternity and endeavor always to further them.</li>
            <li>That a member will pay promptly all financial obligations</li>
            <li>That a member will act so as never to be a reproach to Alpha Chi Sigma.</li>
            <li>That a member will cheerfully fulfill any assigned fraternal task.</li>
            <li>That a member will maintain as satisfactory a scholastic record as possible.</li>
        </ol>
</div>